@tailwind base;
@tailwind components;
@tailwind utilities;

/**** PLUS JAKARTA SANS - 500 MEDIUM ****/

@font-face {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: normal;
  src: url(/fonts/PlusJakartaSans-Medium.woff) format(woff),
    url(/fonts/PlusJakartaSans-Medium.woff2) format(woff2);
  font-display: swap;
}

/**** PLUS JAKARTA SANS - 700 BOLD ****/

@font-face {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/PlusJakartaSans-Bold.woff) format(woff),
    url(/fonts/PlusJakartaSans-Bold.woff2) format(woff2);
  font-display: swap;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  outline: 1px solid red;
}

.container-title {
  font-size: clamp(1.75rem, 1.6562rem + 0.382vw, 2rem);
}

.product-image {
  width: 396px;
}

@media only screen and (min-width: 394px) {
  .container {
    top: 100px;
    left: 140px;
  }
}

@media only screen and (max-width: 394px) {
  .container {
    top: 40px;
    left: 37px;
  }
  .product-image {
    width: 287px;
  }
}

.product-arrow {
  background-image: url(public/icons/Arrow.svg);
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  display: flex;
}

.carousel {
  scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.dragging a {
  scroll-snap-align: start;
  scroll-behavior: auto;
  cursor: grab;
  user-select: none;
}
